* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "arial, helvetica, sans-serif";
}
body {
	background: #f4f4f4;
}
header {
	padding: 1.5rem 0;
	background: #333;
}
header h1 {
	text-align: center;
	color: #fff;
	font-size: 3rem;
}
a {
	text-decoration: none;
	color: #333333;
}
#container {
	background: greenyellow;
	padding: 1rem;
}
#container p {
	text-align: left;
	font-size: 2.5rem;
	color: #333;
	padding: 1rem 0;
	font-weight: bold;
}
#container p span {
	padding: 0 1rem;
}
#container p em {
	color: red;
	font-style: normal;
}
#container .bottom {
	height: 2rem;
}
#container ul {
	list-style: none;
	padding-left: 6rem;
	font-size: 2.5rem;
}
#container ul li {
	padding: .5rem 0;
}
#container ul li span {
	padding: 0 2rem;
	color: red;
}

/* Flex-Direction */
.Flex-Direction {
	display: flex;
	/* 主轴横向排列 水平 从左到右*/
	flex-direction: row;
	/* 主轴反转 水平从右往左*/
	/* flex-direction: row-reverse; */
	/* 主轴垂直 从上到下排列 */
	/* flex-direction: column; */
	/* 主轴垂直反转 从下到上排列 */
	/* flex-direction: column-reverse; */
	
	
	/* 侧轴 垂直 默认不换行*/
	flex-wrap: wrap;
	/* 侧轴 垂直 反转 从下往上排列*/
	/* flex-wrap: wrap-reverse; */
	
	
	/* 元素在主轴（页面）上由左或者上开始排列*/
	/* justify-content: flex-start; */
	/* 元素在主轴（页面）上由右或者下开始排列*/
	/* justify-content: flex-end;*/
	/* 元素在主轴（页面）上居中排列 */
	/* justify-content: center; */
	/* 元素在主轴（页面）上左右两端或者上下 */
	justify-content: space-between;
	/* 每个元素两侧的间隔相等。所以，元素之间的间隔比元素与边框的间隔大一倍。 */
	/* justify-content: space-around; */
	
}
.Flex-Direction .box{
	width: 10rem;
	height: 10rem;
	background: #FFFFFF;
	text-align: center;
	line-height: 10rem;
	color: red;
	margin: .2rem;
	font-size: 2.5rem;
	
	flex-grow: 1;
	flex-shrink: 1;
}
.Flex-Direction .box:first-of-type {
	
	order: 1;
	
	background: yellow;
}

/* nav */
nav {
	text-align: center;
	height: 10rem;
	text-transform: capitalize;
	display: flex;
	flex-wrap: wrap;
	font-size: 3rem;
	background: #333333;
}
nav a {
	color: #fff;
	text-decoration: none;
	background: rgba(100, 100, 100, 0.2);
	flex-grow: 2;
	display: flex;
	align-items: center;
}
nav a span {
	flex: 1;
}
nav a:hover {
	background: rgba(100, 100, 100, 0.4);
}
nav .sing {
	flex-grow: 1;
	background: rgba(100, 100, 100, 0.1);
}


@media (max-width: 460px) {
	nav a {
		flex-basis: 25%;
	}
}


/* box-container */
.box-container {
	display: flex;
	background: #333333;
	padding: 2rem;
	justify-content: space-around;
}
.box-container .item {
	width: 100px;
	height: 100px;
	background: #F4F4F4;
	border-radius: 1rem;
	display: flex;
}
.box-container .item span {
	width: 25px;
	height: 25px;
	display: block;
	background: #333333;
	border-radius: 100%;
	text-align: center;
	line-height: 25px;
	color:red
}
.box-container .item:nth-of-type(1) {
	justify-content: center;		
	/* flex-direction属性决定主轴的方向（即项目的排列方向）。 justify-content: flex-start | flex-end | center | space-between | space-around;*/
	align-items: center;			
	/* align-items属性定义项目在交叉轴上如何对齐。align-items: flex-start | flex-end | center | baseline | stretch; */
}
.box-container .item:nth-of-type(2) {
	flex-direction: column;
	/* flex-direction属性决定主轴的方向（即项目的排列方向）。flex-direction: row | row-reverse | column | column-reverse; */
	justify-content: space-around;
	align-items: center;
}
.box-container .item:nth-of-type(3) {
	justify-content: space-between;
}
.box-container .item:nth-of-type(3) span:nth-of-type(2) {
	align-self: center;
	/* lign-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。 align-self: auto | flex-start | flex-end | center | baseline | stretch; */
}
.box-container .item:nth-of-type(3) span:nth-of-type(3) {
	align-self: flex-end;
}
.box-container .item:nth-of-type(4) {
	flex-wrap: wrap;
	/* 默认情况下，项目都排在一条线（又称”轴线”）上。flex-wrap属性定义，如果一条轴线排不下，如何换行。  flex-wrap: nowrap | wrap | wrap-reverse; */
	align-content: space-around;
	/* align-content属性定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用。 align-content: flex-start | flex-end | center | space-between | space-around | stretch; */
}
.box-container .item .column {
  flex-basis: 100%;
  /* flex-basis属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。 */
  display: flex;
  justify-content: space-around;
}
.box-container .item:nth-of-type(5) {
	flex-wrap: wrap;
}
.box-container .item:nth-of-type(5) .row {
	flex-basis: 100%;
	display: flex;
}
.box-container .item:nth-of-type(5) .row:nth-of-type(1) {
	justify-content: space-around;
	align-items: center;
}
.box-container .item:nth-of-type(5) .row:nth-of-type(2) {
	justify-content: center;
	align-items: center;
}
.box-container .item:nth-of-type(5) .row:nth-of-type(3) {
	justify-content: space-around;
	align-items: center;
}
.box-container .item:nth-of-type(6) {
	flex-wrap: wrap;
	align-content: space-around; 
	flex-direction: column;
}
.box-container .item:nth-of-type(6) .row {
	flex-basis: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
/* .nav */
.nav {
	background: #F4F4F4;
}
.nav-box {
	width: 1100px;
	margin: 0 auto;
	display: flex;
}
.nav a {
	display: flex;
	width: 75px;
	height: 75px;
	font-size: 2.4rem;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.nav a:hover {
	background: #F0F0F0;
	color: #FF0000;
}
.nav-box .nav-left {
	display: flex;
	flex: 1;
}
.nav-box .nav-left a {
	
}

.nav-box .nav-right {
	display: flex;
	flex: 0;
}
.nav-box .nav-right a {
	
}
/* .html-container */

.html-container {
	display: flex;
	width: 99rem;
	height: 66rem;
	margin: 0 auto;
	flex-direction: column;
}
.html-container .header, footer {
	height: 7.5rem;
	font-size: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: yellow;
}
.html-container .main-container {
	display: flex;
	flex: 1;
}
.html-container .main-container .container-left {
	flex-basis: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4rem;
	background: pink;
}
.html-container .main-container .container-center {
	flex-basis: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4rem;
	background: blue;
}
.html-container .main-container .container-right {
	flex-basis: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4rem;
	background: orange;
}

